.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 10px;
  width: 900px;
  margin: 40px auto auto;
  text-align: left;
}

h2 {
  color: #222;
  border-bottom: 1px solid #444;
  padding: 16px 0;
  margin: 0;
}